<div class="row"  >

    <div class="nine columns blog_header">

        <h1>Blog</h1>
        <span *ngIf="curr_cate ">当前分类：{{curr_cate.name}}</span>
        <span *ngIf="curr_tag">当前标签：{{curr_tag.name}}</span>
        <a class="color" href="/html">全部</a>
        <a class="color" target="__BLANK" href="/Home/Blog/statistics">博客统计</a>
    </div>

    <div class="three columns">

        <a href="#" title="Go Back" class="back-button to-left-icon-b">Neque porro</a>

    </div>

</div><!-- Site Heading Title ENDS -->

<div class="row"  >

    <div class="main-content three columns blog-list">
        <div class="random-blog-item blog-list-item" *ngFor="let item of blogList?.data"  (click)="toPage(item.id)">
            <img src="{{item.img}}" alt="random blog post" class="random-blog-img">

            <a title="random blog post" class="random-blog-title">{{item.title}}</a>
            <div class="random-blog-descr">{{item.summary}}</div>
            <div class="random-blog-item-bg background-color"></div>
        </div>

        <ex-page 
            [currPage]="page.currPage"
            [totalPage]="page.totalPage"
        ></ex-page>

    </div>

    <div class="six columns"  *ngIf="blogInfo">

        <div class="background-color blog-post-title">

            <a href="html" class="blog-post-link">{{blogInfo.title}}</a>

            <div class="team-member-icons connection-w deactive"></div>

            <div class="blog-post-date">{{blogInfo.created_at}}</div>

        </div>

        <div class="post-img-zone" title="{{blogInfo.title}}">
            <img src="{{blogInfo.img}}" alt="blog post img" class="blog-post-img"/>
        </div>
        <div>
            <div class="view-cnt">
                <span><i class="fa fa-eye"></i>{{blogInfo.view}}</span> 
            </div>
            <h4>{{blogInfo.summary}}</h4><br><br>
        </div>
        
        <div class="bt" [innerHtml]="blogInfo.content">
        </div>
    </div>

    <div class="three columns">

        <div class="title grid">Categories <span class="blog_cnt">博客总数:{{blogCnt}}</span></div>

        <ul class="blog-categories" *ngFor="let item of categories">
            <li>
                <div class="blog-cat-anim background-color"></div>
                <a href="html?cate={{item.id}}" title="blog category">{{item.name))<span class="cate_cnt">({{item.cnt}})</span></a>
                
            </li>
        </ul>

        <div class="blog-posts-tab">

            <div class="comments-nav background-color margin-tb-10">

                <div id="popular-blogs" class="comment-title deactive">Popular</div>
                <div id="recent-blogs" class="comment-title">Recent</div>

            </div>

            <div class="popular-blogs" *ngFor="let item of popular" >
                <div class="random-blog-item">
                    <img src="{{item.img}}" alt="random blog post" class="random-blog-img">
                    <a href="/html?id={{item.id}}" title="random blog post" class="random-blog-title">{{item.title}}</a>

                    <div class="random-blog-descr">{{item.summary}}</div>
                    <div class="random-blog-item-bg background-color"></div>
                </div>
            </div>

            <div class="recent-blogs" *ngFor="let item of recent">
                <div class="random-blog-item">
                    <img src="{{item.img}}" alt="random blog post" class="random-blog-img">
                    <a href="/html?id={{item.id}}" title="random blog post" class="random-blog-title">{{item.title}}</a>

                    <div class="random-blog-descr">{{item.summary}}</div>
                    <div class="random-blog-item-bg background-color"></div>
                </div>
            </div>

            <div class="clear"></div>

        </div>

        <div class="title tag-cloud">Tag Cloud</div>

        <div class="tag-list margin-tb-10" *ngFor="let item of tags">
            <a href="/html?tag={{item.name}}" title="{{item.name}}" >{{item.name}}</a>
        </div>

    </div>

</div>